@model IEnumerable<App.Data.Entity.Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayoutcshtml.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"> Yeni ekle</a>

</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th class="col-4"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    <img src="@item.Image" alt="@item.Image" height="40" />
                </td>
                <td class=" d-flex justify-content-between">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-info" asp-action="Detail" asp-route-id="@item.Id">Detay</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
