@model List<Page>

<nav class="navbar navbar-expand-lg navigation" id="navbar">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/template/images/logo.png" alt="" class="img-fluid">
        </a>    

        <div class="collapse navbar-collapse" id="navbarmain">
            <ul class="navbar-nav ml-auto">
                @foreach(var item in Model)
                {
                    if (item.Title=="Home")
                    {
                        <li class="nav-item active"><a class="nav-link" asp-controller="Page" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></li>
                    }
                    else if (item.Title == "Department")
                    {
                        <li class="nav-item dropdown show">
                            <a class="nav-link dropdown-toggle" href="department.html" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Department <i class="icofont-thin-down"></i></a>
                            <ul class="dropdown-menu show" aria-labelledby="dropdown02">
                                <li class="nav-item active"><a class="nav-link" asp-controller="Page" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></li>
                                @*<a class="nav-link" asp-controller="Department" asp-action="Departments"></a>*@
                                <li><a class="dropdown-item" href="department-single.html">Department Single</a></li>

                                <li class="dropdown dropdown-submenu dropright">
                                    <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                                        <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                                        <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                    else if (item.Title == "Doctors")
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="doctor.html" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                <li><a class="dropdown-item" href="doctor.html">Doctors</a></li>
                                <li><a class="dropdown-item" href="doctor-single.html">Doctor Single</a></li>
                                <li><a class="dropdown-item" href="appoinment.html">Appoinment</a></li>

                                <li class="dropdown dropdown-submenu dropleft">
                                    <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                                        <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                                        <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Page" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></li>
                    }
                   
                    
                }  
            </ul>
        </div>
    </div>
</nav>

